*{
  font-family:  titilium, Helvetica,Arial, sans-serif;
  font-size: 15px;
}

.body-background{
  background: white;
  height: 100%;
}

.clients-container{
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
}

#clients-icon{
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  float: left;
}

.clients-container h2{
    font-family:  titilium, Helvetica,Arial, sans-serif;
    font-size: 20px;
    color: #364959;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.filterbar{
  background:#e1eff1;
  color: #364959;
  font-size: 16px;
  height: 40px;
  width: 98%;
  margin-top: 10px;
  padding-left: 20px;
}


.filterbar button{
  font-size: 12px;
  float: right;
  color: #364959;
  border-radius: 4px;
  border: 0.5px solid;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(16, 16, 16, 0.5);
  border-color: #302f2f;
  margin: 0px 30px 30px 5px;
  padding: 5px 10px 5px 10px;
  text-align: center;
  cursor: pointer;
}

.filterbar button:hover{
  background-color: #ababab;
  transition: all .4s;
}

.clients-container input{
    margin-left: 5px;
    margin-right: 30px;
    margin-top: 5px;
    font-size: 12px;
    color: #2a2a2a;
}

.action-buttons-container{
  float: right;
  margin-right: 20px;
  margin-top: -40px;
}

.action-buttons{
  font-size: 14px;
  color: #d8d8d8;
  float: right;
  border-radius: 4px;
  border: 0.5px solid;
  background-color: #454545;
  box-shadow: 0 2px 4px rgba(16, 16, 16, 0.5);
  border-color: #302f2f;
  margin-left: 6px;
  padding: 4px 8px 4px 8px;
  text-align: center;
  cursor: pointer;
}

.action-buttons:hover{
  background-color: #adadad;
  transition: all .4s;
}

.clients-container .edit-client-button, .remove-client-button {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}

.clients-container .edit-client-button:hover{
  background-color: rgb(255, 183, 0);
}

.clients-container .remove-client-button:hover{
  background-color: rgb(205, 74, 74);
}

table{
  width: 100%;
}

mat-paginator{
  margin-bottom: 100px;
}

tr:hover{
  background-color: #e1eff1;
  cursor: pointer;
}

.styled-table tr:hover{
  background-color: #e1eff1;
}

.disabled-checkbox {
  float: right;
  margin-top: 20px;
  margin-right: 8px;
  margin-bottom: 10px;
}
